@font-face {
    font-family:"BlackHanSans-Regular";
    src:url("../fonts/BlackHanSans-Regular.ttf")
}
@font-face {
    font-family:"Orbit-Regular";
    src:url("../fonts/Orbit-Regular.ttf")
}

:root {
    --logofont: "BlackHanSans-Regular";
    --navfont: "Orbit-Regular";
}

#header .logo {
    font-family: var(--logofont),sans-serif;
    font-size: 3.5rem;
}

#header .nav {
    font-family: var(--navfont),sans-serif;
    font-size: 1rem;
}